<template>
    <div class="modal-background">
        <div class="modal">
            <div class="modal_body">
                <div class="modal_content">
                    <div>
                        <label class="modal_text_label" for="imageInput">Добавить файл</label>
                        <input type="file" id="imageInput" ref="fileInput" @change="fileInputChange">
                    </div>

                    <div>
                        <label class="modal_text_label" for="urlInput">Добавить URL</label>
                        <input type="text" id="urlInput" v-model="imageUrl">
                    </div>
                </div>
            </div>

            <div class="modal-buttons">
                    <button class="custom-button" @click="submitUrl">Отправить</button>
                    <button
                        type="button"
                        class="custom-button"
                        @click="close"
                    >
                        Закрыть
                    </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'modalAddFile',
        data() {
            return {
                imageUrl: '',
                file: null
            };
        },
        methods: {
            close() {
                this.$emit('close');
            },
            fileInputChange(event) {
                this.file = event.target.files[0];
            },
            submitUrl() {
                if (this.imageUrl.trim() !== '') {
                    localStorage.setItem("upload_image", this.imageUrl);
                    location.reload();
                } else if (this.file !== null) {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        localStorage.setItem("upload_image", e.target.result);
                        location.reload();
                    };
                    reader.readAsDataURL(this.file);
                } else {
                    alert('Загрузите изображение');
                }
            },
        },
    };
</script>

<style>
    .modal-background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.736);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal {
        background: #FFFFFF;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
    }

    .modal-buttons {
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .modal_body {
        position: relative;
        padding: 50px 20px;
    }

    .custom-button {
        background: linear-gradient(to bottom, #e94e77, #662e9b);
        border: none;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-right:7px;
    }

    .modal_text_label{
        margin-bottom: 10px;
        margin-right:15px;
    }

    #imageInput{
        margin-bottom: 30px;
    }

    .modal_content {
        display: flex;
        flex-direction: column;
        align-items: start
    }
</style>
