<template>
    <div class="modal-background">
        <div class="modal">
            <div class="modal_body">
                <div class="addMethodScale">
                    <p>PX или %</p>
                    <select name="scaleMethod" id="scaleMethod" v-model="selectedMethod">
                        <option value="procentMethod" selected>в процентах</option>
                        <option value="pixelMethod">в пикселях</option>
                    </select>
                </div>

                <div class="procentMethod" v-if="selectedMethod === 'procentMethod'">
                    <div class="scale-input">
                        <label for="scaleInput">Масштаб </label>
                        <input type="number" id="scaleInput" v-model="scalePercentage" @input="updateScale">
                    </div>

                    <div>
                        <p>Выберите алгоритм интерполяции</p>
                        <select name="" id="">
                            <option value="" title="Данный алгоритм выбирает ближайшее значение пикселя из исходного изображения для каждого пикселя в новом изображении.">алгоритм ближайшего соседа</option>
                        </select>
                    </div>

                    <div class="modal-buttons">
                        <button class="custom-button apply-button" @click="applyScale">Применить</button>
                    </div>
                </div>

                <div class="pixelMethod" v-if="selectedMethod === 'pixelMethod'">
                    <div class="width-input">
                        <label for="widthInput">длина </label>
                        <input type="number" id="widthInput" v-model="width">
                    </div>

                    <div class="height-input">
                        <label for="heightInput">высота </label>
                        <input type="number" id="heightInput" v-model="height">
                    </div>

                    <div class="checkbox-proportions">
                        <label for="checkbox-proportions">Сохранять пропорции </label>
                        <input type="checkbox" id="checkbox-proportions" v-model="keepProportions">
                    </div>

                    <div class="modal-buttons">
                        <button class="custom-button apply-button" @click="applyScalePixel">Применить</button>
                    </div>
                </div>

                <div class="countOfPixel">
                    <p>
                        Количество пикселей до преобразования: {{ originalImageWidth }} {{ originalImageHeight }}
                    </p>
                    <p>
                        Количество пикселей после преобразования: {{ imageWidth }} {{ imageHeight }}
                    </p>
                </div>

                <button class="custom-button close-button_modal" @click="closeModal">Закрыть</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            scalePercentage: 100,
            selectedMethod: '',
            width: 0,
            height: 0,
            keepProportions: false,
            scaledPixelCount: 0,
            originalImageWidth: 0,
            originalImageHeight: 0,
        };
    },

    props: {
        imageWidth: Number,
        imageHeight: Number,
        setScale: Function
    },

    methods: {
        updateOriginalImageSize() {
            this.originalImageWidth = this.imageWidth;
            this.originalImageHeight = this.imageHeight;
        },

        updateScale() {
            if (this.scalePercentage < 12) {
                this.scalePercentage = 12;
            } else if (this.scalePercentage > 300) {
                this.scalePercentage = 300;
            }
        },
        
        applyScale() {
            this.setScale(this.scalePercentage);
        },

        applyScalePixel() {
            this.$emit('apply-scale-pixel', {
                width: this.width,
                height: this.height,
                keepProportions: this.keepProportions
            });
            
            this.scaledPixelCount = this.width * this.height;
        },

        closeModal() {
            this.$emit('close');
        },
    },
};
</script>

<style>

.close-button_modal {
    display: block;
    margin: 0 auto;
    
}

.apply-button {
    
}

.width-input {
    margin-bottom:5px;
}

.height-input {
    margin-bottom:5px;
}

.choose_method_text {
    margin-bottom: 3px;
}

#scaleMethod {
    margin-bottom: 10px;
}

.scale-input {
    display: flex;
    align-items: center;
}

.scale-input label {
    margin-right: 10px;
}

.scale-input input {
    width: 100px;
}

.modal-buttons {
    padding: 15px;
}

.custom-button {
    background: linear-gradient(to bottom, #e94e77, #662e9b);
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 7px;
}

  .scale-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
    .modal-background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.736);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal {
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        width:700px;
    }

    .modal-buttons {
        padding: 15px;
    }

    .custom-button {
        background: linear-gradient(to bottom, #e94e77, #662e9b);
        border: none;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-right:7px;
    }

    .modal_text_label{
        margin-bottom: 10px;
    }

    #imageInput{
        margin-bottom: 30px;
    }
</style>
