<template>
    <div class="wrapper">
      <div class="header">
        <div>
          <button class="custom-button" @click="showModalAddImg">Добавить изображение</button>
          <button class="custom-button" @click="showModalAddScale">Изменить масштаб</button>
          <button class="custom-button" @click="downloadImage">Скачать изображение</button>
        </div>

        <div>
          <div class="pixel-info-panel">
            <div class="color" ref="color"></div>
            <p v-if="lastClickedCoordinates != ''" style="margin-left:8px;">Координаты: {{ lastClickedCoordinates }}</p>
          </div>
        </div>
      </div>

      <select name="scaleSelector" id="scaleSelector" @change="setSelectScale">
          <option value="12">12 %</option>
          <option value="25">25 %</option>
          <option value="50" selected>50 %</option>
          <option value="75">75 %</option>
          <option value="100">100 %</option>
          <option value="150">150 %</option>
          <option value="200">200 %</option>
          <option value="250">250 %</option>
          <option value="300">300 %</option>
        </select>
  
      <div class="main">
        <modalAddImg v-show="isModalVisible" @close="closeModalAddImg">
        </modalAddImg>

        <ScaleButtons
            ref="scaleButtons"
            v-show="isModalScaleVisible"
            @close="closeModalAddScale"
            :setScale="setScale" 
            :width="width"
            :height="height"
            :keepProportions="keepProportions"
            :imageWidth="imageWidth"
            :imageHeight="imageHeight"
            @apply-scale-pixel="applyScalePixel"
        >
        </ScaleButtons>

        <div class="canvas-container" ref="canvasContainer">
          <canvas ref="canvas" @mousemove="mouseMove" @click="pixelClick"></canvas>
        </div>
      </div>
  
      <div class="footer">
        <div class="info-img-panel">
          <p>Цвет пикселя: {{ pixelColor }}</p>
          <p>Координаты: {{ pixelCoordinates }}</p>
          <p>Ширина px: {{ imageWidth }}</p>
          <p>Высота px: {{ imageHeight }}</p>
          <p>Количество пикселей: {{ countPixel }}</p>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import modalAddImg from '../modules/ModalAddImg.vue';
  import ScaleButtons from '../modules/ScaleButtons.vue';
  
  export default {
    components: {
      modalAddImg,
      ScaleButtons,
    },
    data() {
      return {
        pixelColor: "",
        pixelCoordinates: "",
        imageWidth: 0,
        imageHeight: 0,
        lastClickedCoordinates: "",
        isModalVisible: false,
        isModalScaleVisible: false,
        scale: 50/1.2, //начал масштаб
        countPixel: 0,
      };
    },
    mounted() {
      this.loadImage();
    },
    methods: {
      showModalAddImg() {
        this.isModalVisible = true;
      },
      closeModalAddImg() {
        this.isModalVisible = false;
      },
      showModalAddScale() {
        this.isModalScaleVisible = true;
        const scaleButtons = this.$refs.scaleButtons;
        scaleButtons.updateOriginalImageSize();
      },
      closeModalAddScale() {
        this.isModalScaleVisible = false;
      },
      loadImage() {
        const canvas = this.$refs.canvas;
        canvas.getContext("2d");
        const image = new Image();
        image.onload = () => {
          this.imageWidth = image.width;
          this.imageHeight = image.height;
          this.countPixel = image.width * image.height;
          this.updateCanvas();
        };
        image.crossOrigin = "anonymous";
        image.setAttribute('crossOrigin', '');
        const imageData = localStorage.getItem("upload_image");
        if (imageData) {
          image.src = imageData;
        } else {
          alert('Загрузите фото');
          this.$router.push('/');
        }
      },
      updateCanvas() {
        const canvas = this.$refs.canvas;
        const ctx = canvas.getContext("2d");
        const image = new Image();
        image.onload = () => {
          const newWidth = Math.round(image.width * (this.scale / 100));
          const newHeight = Math.round(image.height * (this.scale / 100));

          this.imageWidth = newWidth
          this.imageHeight = newHeight
  
          const tempCanvas = document.createElement("canvas");
          const tempCtx = tempCanvas.getContext("2d");
          tempCanvas.width = newWidth;
          tempCanvas.height = newHeight;  
          tempCtx.drawImage(image, 0, 0, newWidth, newHeight); 
          canvas.width = newWidth;
          canvas.height = newHeight;
          ctx.clearRect(0, 0, canvas.width, canvas.height); 
          ctx.drawImage(tempCanvas, 0, 0); 
        };
        image.src = localStorage.getItem("upload_image");
      },
      updateCanvasNearNeighbourhood() {
        const canvas = this.$refs.canvas;
        const ctx = canvas.getContext("2d");
        const image = new Image();
        image.onload = () => {
          const newWidth = Math.round(image.width * (this.scale / 100));
          const newHeight = Math.round(image.height * (this.scale / 100));
  
          const tempCanvas = document.createElement("canvas");
          const tempCtx = tempCanvas.getContext("2d");
          tempCanvas.width = newWidth;
          tempCanvas.height = newHeight;

          this.imageWidth = newWidth
          this.imageHeight = newHeight
  
          const scaleX = image.width / newWidth;
          const scaleY = image.height / newHeight;
          for (let y = 0; y < newHeight; y++) {
            for (let x = 0; x < newWidth; x++) {
              const srcX = Math.floor(x * scaleX);
              const srcY = Math.floor(y * scaleY);
              tempCtx.drawImage(image, srcX, srcY, 1, 1, x, y, 1, 1);
            }
          }
  
          canvas.width = newWidth;
          canvas.height = newHeight;
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          ctx.drawImage(tempCanvas, 0, 0);
        };
            image.src = localStorage.getItem("upload_image");
        },

        applyScalePixel(data) {
            const width = parseInt(data.width);
            const height = parseInt(data.height);

            if (data.keepProportions) {
                if (width > height) {
                    this.scale = width / this.imageWidth * 100;
                    const canvas = this.$refs.canvas;
                    const ctx = canvas.getContext("2d");
                    const image = new Image();
                    image.onload = () => {
                      const newWidth = Math.round(this.imageWidth * (this.scale / 100));
                      const newHeight = Math.round(this.imageHeight * (this.scale / 100));

                      const tempCanvas = document.createElement("canvas");
                      const tempCtx = tempCanvas.getContext("2d");
                      tempCanvas.width = newWidth;
                      tempCanvas.height = newHeight;  
                      tempCtx.drawImage(image, 0, 0, newWidth, newHeight); 
                      canvas.width = newWidth;
                      canvas.height = newHeight;
                      ctx.clearRect(0, 0, canvas.width, canvas.height); 
                      ctx.drawImage(tempCanvas, 0, 0); 

                      this.imageWidth = newWidth
                      this.imageHeight = newHeight
                    };
                    image.src = localStorage.getItem("upload_image");
                } else {
                    this.scale = height / this.imageHeight * 100;
                    const canvas = this.$refs.canvas;
                    const ctx = canvas.getContext("2d");
                    const image = new Image();
                    image.onload = () => {
                      const newWidth = Math.round(this.imageWidth * (this.scale / 100));
                      const newHeight = Math.round(this.imageHeight * (this.scale / 100));
                      const tempCanvas = document.createElement("canvas");
                      const tempCtx = tempCanvas.getContext("2d");
                      tempCanvas.width = newWidth;
                      tempCanvas.height = newHeight;  
                      tempCtx.drawImage(image, 0, 0, newWidth, newHeight); 
                      canvas.width = newWidth;
                      canvas.height = newHeight;
                      ctx.clearRect(0, 0, canvas.width, canvas.height); 
                      ctx.drawImage(tempCanvas, 0, 0); 

                      this.imageWidth = newWidth
                      this.imageHeight = newHeight
                    };
                    image.src = localStorage.getItem("upload_image");
                }
            } else {
                const canvas = this.$refs.canvas;
                const ctx = canvas.getContext("2d");
                const image = new Image();

                image.onload = () => {
                    const newWidth = width;
                    const newHeight = height;
            
                    const tempCanvas = document.createElement("canvas");
                    const tempCtx = tempCanvas.getContext("2d");
                    tempCanvas.width = newWidth;
                    tempCanvas.height = newHeight;
            
                    tempCtx.drawImage(image, 0, 0, newWidth, newHeight); 
                    canvas.width = newWidth;
                    canvas.height = newHeight;
                    ctx.clearRect(0, 0, canvas.width, canvas.height); 
                    ctx.drawImage(tempCanvas, 0, 0); 

                    this.imageWidth = newWidth
                    this.imageHeight = newHeight
                };
                
                image.src = localStorage.getItem("upload_image");
            }
        },
        mouseMove(event) {
            const canvas = this.$refs.canvas;
            const ctx = canvas.getContext("2d");
            const rect = canvas.getBoundingClientRect();
            const scaleX = canvas.width / rect.width;
            const scaleY = canvas.height / rect.height;
            const x = (event.clientX - rect.left) * scaleX;
            const y = (event.clientY - rect.top) * scaleY;
            const pixelData = ctx.getImageData(x, y, 1, 1).data;
            this.pixelColor = `rgb(${pixelData[0]}, ${pixelData[1]}, ${pixelData[2]})`;
            this.pixelCoordinates = `(${Math.round(x)}, ${Math.round(y)})`;
        },
        pixelClick(event) {
            const canvas = this.$refs.canvas;
            const rect = canvas.getBoundingClientRect()
            const scaleX = canvas.width / rect.width; // коэффициент масштабирования по X
            const scaleY = canvas.height / rect.height; 
            const x = (event.clientX - rect.left) * scaleX;
            const y = (event.clientY - rect.top) * scaleY;
            const ctx = canvas.getContext("2d");
            const pixelData = ctx.getImageData(x, y, 1, 1).data;
            this.lastClickedCoordinates = `(${Math.round(x)}, ${Math.round(y)})`;
            const color = this.$refs.color;
            color.style.backgroundColor = `rgb(${pixelData[0]}, ${pixelData[1]}, ${pixelData[2]})`;
        },
        setScale(scale) {
            this.scale = scale/1.2;
            this.updateCanvasNearNeighbourhood(); 
        },
        setSelectScale(event) {
            this.scale = parseInt(event.target.value)/1.2;
            this.updateCanvas(); // Обновляем изображение с новым масштабом
        },
        startDragging(event, direction) {
            this.dragging = direction;
            this.startPos = {
                x: event.clientX,
                y: event.clientY,
                scrollX: this.$refs.canvasContainer.scrollLeft,
                scrollY: this.$refs.canvasContainer.scrollTop
            };
            document.addEventListener('mousemove', this.drag);
            document.addEventListener('mouseup', this.stopDragging);
        },
        drag(event) {
            if (this.dragging === 'x') {
                const dx = event.clientX - this.startPos.x;
                this.$refs.canvasContainer.scrollLeft = this.startPos.scrollX - dx;
            } else if (this.dragging === 'y') {
                const dy = event.clientY - this.startPos.y;
                this.$refs.canvasContainer.scrollTop = this.startPos.scrollY - dy;
            }
        },
        stopDragging() {
            this.dragging = null;
            document.removeEventListener('mousemove', this.drag);
            document.removeEventListener('mouseup', this.stopDragging);
        },
        downloadImage() {
            const canvas = this.$refs.canvas;
            const dataUrl = canvas.toDataURL();
            const link = document.createElement('a');
            link.href = dataUrl;
            link.download = 'edit_image.png';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        },
    },
};
</script>

<style>
html, body {
    height: 100%;
    background-color: rgb(198, 207, 207);
}

.header {
  height:70px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#scaleSelector {
  width:100px;
}

.modal-add-img,
.scale-buttons {
  position: absolute;
  z-index: 1000000000;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

canvas {
    border: 1px solid #000;
    cursor: pointer;
    margin: 0 auto;
    display: block; 
}

.canvas-container {
    overflow: auto;
    max-height: 450px;
    max-width: 100%;
}


.scrollbar {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.scrollbar-x {
    height: 10px;
    width: 100%;
    bottom: 0;
}

.scrollbar-y {
    width: 10px;
    height: 100%;
    right: 0;
}
.footer {
    margin-top: 10px;
    padding: 10px;
    tab-size: 5px;
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom:0px;
    right:0px;
}
.info-img-panel {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-around;
    align-items: center;
}
.pixel-info-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10px;
}
.color {
    width: 20px;
    height: 20px;
    border: 3px solid black;
}

.canvas{
    margin-bottom: 150px;
}

.custom-button {
  background: linear-gradient(to bottom, #e94e77, #662e9b);
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
</style>

